html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

#root {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
