.control-panel {
    background-color: #fff;
    min-height: 25px;
    display: flex;
    padding: 5px;
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.format-actions {
    min-width: 100px;
}

.format-action {
    width: 25px;
    margin-left: 5px;
    padding: 3px;
    background: white;
}

.format-action.active {
    background: skyblue;
}

.synonyms-wrap {
    position: relative;
    width: 100%;
}

.synonyms {
    height: 80px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #e4dede;
    padding: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.synonym:hover {
    background: #ccc;
    cursor: pointer;
}

.spinner {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
}

.spinner div {
    position: absolute;
    border: 4px solid gray;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
